@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
body
{
    font-family: 'Playfair Display', serif;
    margin: 0;
}
h1
{
    margin-top: 0;
    width: 100%;
    text-align: center;
    background-color: lightgreen;
}
